<div style="width:500px;margin-left:auto;margin-right:auto;margin-top:0px;
			background:#eee;border:1px solid transparent; border-radius:10px;
			box-shadow:0px 5px 10px #777">
<!--<div style="width:200px;height:50px; background: #333;text-align:center">
<h1 style="font-family:verdana;font-size:14px;color:white;padding-top:15px;"><a href="/">Denys Bastov</a></h1>
</div>
<div style="width:350px; height:50px; position:absolute; margin-left:200px;background:#666;margin-top:-50px;box-shadow: 3px 0px 10px rgba(0,0,0,0.5) inset"> 
<a href="https://github.com/bastovd/proj1" style="line-height:45px;margin-left:20px;font-family:verdana;font-size:12px;color:white">https://github.com/bastovd/proj1</a>
</div>
<img src="http://poroawards.net/wp-content/themes/PATheme/images/site/porologo.png" style="width:200px; box-shadow: 0px 5px 10px rgba(0,0,0,0.5)">-->
<div style="width:500px;text-align:center;position:relative;
			margin-top:0px;padding-bottom:20px;padding-top:20px;
			border:0px solid transparent; border-radius:10px">
<!--<form style="text-align:left;margin-left:20px;padding-top:20px">
  <input type="textfield" value="The wild ... appears"><br>
  <input type="checkbox" name="pokemon" value="Squirtle">Squirtle</input><br><br>
  <input type="radio" name="pokemons" value="Pikachu">Pikachu</input><br><br>
  <input type="radio" name="pokemons" value="Charizard">Charizard</input><br><br>
  <input type="button" style="width:150px;height:30px;" value="Collect them all!"></input>
</form>-->
<table style="width:350px;margin-left:10px;padding-bottom:20px">
	<tr style="text-align:left">
		<td style="padding:5px;min-width:100px;max-width:100px;"><b>NAME</b></td>
		<td style="padding:5px;min-width:100px;max-width:100px;"><b>E-MAIL</b></td>
		<td style="padding:5px;min-width:100px;max-width:100px;"><b>OCCUPATION</b></td>
	</tr>
	<% 
	@user = User.where(id: current_user)
			if @user.name == ""
				%> I HAVE A NAME! <%
			else
				%> <p>IF YOU HAVE NOT EDITTED YOUR PROFILE,</p> 
					<p>YOU WILL NOT BE DISPLAYED ON THE LIST BELOW</p><br><%
			end
	%>
	<% @users.each do |user| %>
	
	<tr style="text-align:left">
		<td style="padding:5px;min-width:100px;max-width:100px;
		overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
		border-right:1px solid #222"><%= user.name %></td>
		<td style="padding:5px;min-width:100px;max-width:100px;
		overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
		border-right:1px solid #222"><%= user.email %></td>
		<td style="padding:5px;min-width:100px;max-width:100px;
		overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
		border-right:1px solid #222"><%= user.title %></td>
		<td style="padding:5px;min-width:50px;max-width:100px;"><%= link_to "show", user_path(user.id) %> </td>
		<td style="padding:5px;min-width:50px;max-width:100px;"><%= link_to "edit", edit_user_path(user.id) %> </td>
		<td style="padding:5px;min-width:50px;max-width:100px;"><%= button_to "destroy", user, confirm: "you sure you want to do this?", method: :delete %> </td>
	</tr>
	<% end %>
</table>
<!--<div style="width:350px;height:30px;background:#222;font-family:verdana; font-size:14px;text-decoration:none;">
	<a href="<%= users_path %>/new"><p style="color:white;margin-top:20px;padding-top:5px"><span style="height:30px">Add new user</span></p></a>
</div>-->
</div>
</div>
<!--<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>-->
