<div>
	<h2><%= @user.name %></h2>
	<p><%= @user.title %></p>
	<p><%= @user.age %></p>
	<p><%= @user.email %></p>
	<p><%= @user.country %></p>
	<p><%= @user.city %></p>
	<p><%= @current_user.id %></p>
	<% @images.each do |image| %>
		USER ID FOR IMAGE <%= image.user_id %>
		<img src="<%= image.photo.url(:original) %>" style="max-width:640px; border: 2px solid #000; border-radius: 5px;"/>
	<% end %>
</div>


